@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

:root {
  --background: #0c0c0c;
  --foreground: #fbfbfb;
  --gradient-start: #494d4e;
  --gradient-end: #0c0c0c;
  --border-color: #e4e4e4;
  --text-secondary: #c0c0c0;
  --accent-pink: #ff7dc7;
  --accent-yellow: #ffe6b0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Pretendard', sans-serif;
  background: var(--background);
  color: var(--foreground);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* 모바일 중심 디자인 */
  max-width: 402px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 스크롤바 숨김 */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}